option_settings:
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application

packages:
  yum:
    python3-devel: []
    mariadb-devel: []

container_commands:
  01_change_pids_permission:
    command: "mkdir -p /var/pids && chmod 777 /var/pids"
