<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rajat Bisht - Resume</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Rajat Bisht</h1>
        <p>Email: rajatbisht1196@gmail.com | LinkedIn: <a href="https://linkedin.com/in/hi-rajat-bisht/" class="linkedin-link">linkedin.com/in/hi-rajat-bisht/</a> | Phone: 443-631-8663</p>
    </section>
    </header>

    <section class="section">
        <h2>Experience</h2>
        <div class="experience">
            <h3>Radiant Infotech, Cyber Security Analyst Intern (Oct 2023 – May 2024)</h3>
            <p>
                - Performed web application vulnerability assessment using SAST tools OWASP ZAP, Qualys, Synack, and  Burp-suite.<br>
                - Monitored, reviewed and remediated threads and compliance of SaaS application via AppOmni.
                - Worked with the integration of security upgrades in Appomni.
                – Worked on a project to perform API calls to review security policies
            </p>
        </div>
        <div class="experience">
            <h3>Canfield CyberDefense Group, Cyber Security Developer Intern (Sep 2023 - Oct 2023)</h3>
            <p>
                - Enhanced threat-hunting functionality by adding IP location visualization by integrating map via Python.<br>
                - Enhanced partner portal page and added single-user sign-up through MySQL and JavaScript.
            </p>
        </div>
        <div class="experience">
            <h3>Radiant Infotech, Cyber Security Analyst Intern (May 2023 – Aug 2023)</h3>
            <p>
                - Documented artifacts for annual Information System Risk Assessment with compliance to NIST SP 800-53 and ISO 27001, and updated security control in GRC tool Archer IRM.<br>
                - Reviewed Data Loss Prevention policies, Disaster recovery plans, and Contingency Test plans.
            </p>
        </div>
        <div class="experience">
            <h3>Accenture, Security Delivery Analyst (Dec 2018 – Apr 2022)</h3>
            <p>
                 SOC Analyst<br>
                – Worked in the Managed Shared Services team.<br>
                – Developed dynamic dashboards in Splunk, Fine-tuned and onboarded security use cases and security logs in Splunk, and created playbooks on SOAR.<br>
                – Worked in SIEM, EDR, XDR, and network monitoring tools like CrowdStrike, XSOAR, Cortex XDR, Palo-Alto NGFW, Microsoft 365 Defender, Dark Trace, Akamai, Azure Sentinel, Wireshark, Cisco ASA.<br>
                – Followed SLA matrix through the tool Service Now.<br>
                – Performed IOC scans and vulnerability testing using Nessus.<br>
                – Managed user access through Azure Active Directory (IAM).<br>
                
                  GRC Analyst <br>
                – Performed end-to-end Security Risk assessments using GRC tools.<br>
                – Worked with security controls and risk matrix.<br>

            </p>
        </div>
    </section>

    <section class="section">
        <h2>Certifications</h2>
        <p>ISO 27001: Lead Auditor, SC-200: Microsoft Security Operations Analyst, AZ-500: Azure Security</p>
    </section>

    <section class="section">
        <h2>Education</h2>
        <p>Masters in Cybersecurity, University of Maryland Baltimore County (Aug 2022 - May 2024)</p>
        <p>Bachelor in Computer Science, Guru Gobind Singh Indraprastha University (Aug 2015 - May 2018)</p>
        <p>Dilopma in Electrical Engineering, G B Pant Polytechnic (Aug 2012 - May 2015)</p>
    </section>


    <section class="section">
        <h2>Personal Projects  | Github: <a href="https://github.com/LetscodeRajatBisht/" class="Github">github.com/LetscodeRajatBisht//</a></h2>
        <div class="project">   
            <h3>Cyber Lab</h3>
            <p></p>
            <p>Kali Linux, OWASP top 10, TryHackMe, Metasploit, CTF, Nmap, Reverse Shell, PKI, Thread Modelling</p>
        </div>
        <div class="project">
            <h3>Portfolio Website</h3>
            <p>Using Flask, Python, AWS Services, HTML, CSS</p>
        </div>
        <div class="project">
            <h3>Scripting for Pen-testing</h3>
            <p>Port Scanner, IP Address and Phone Number location tracker with Maps integration</p>
            <p>API Security and Container security of AWS, VPC using Terraform, AWS, Git</p>
        </div>
        <div class="project">
            <h3>Failed Bank, Heat Attack, and Vehicle Collision in NYC data analysis</h3>
            <p>Using Pandas, NumPy, Matplotlib, Seaborn</p>
        </div>
    </section>

   
</body>
</html>
